body{
        font-family: Arial, sans-serif;
        background: #70757c;
        padding: 15px;
        margin: 0;
    }

    .painel-principal{
        display: grid;
        padding: 30px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:110px 220px auto 150px;
        gap: 15px;
        width: 80%;
        height: auto;
        margin: auto;
        grid-template-areas: 
        "header header header"
        "menu menu menu"
        "ia    dev    sdi"
        "cenario cenario cenario"
        "footer footer footer";
    }

    .header{
        grid-area: header;
        background-color: white;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:10px 20px;
        border-radius: 10px;
    }

    .ia{
        grid-area: ia;
        background-color: black;
    }

    .dev{
        grid-area: dev;
        background-color: black;
    }

    .sdi{
        grid-area: sdi;
        background-color: black;
    }

    .cenario{
        grid-area:cenario;

        background:white;

        display:grid;

        grid-template-columns: 1fr 1.8fr;

        gap:20px;

        padding:20px;

        align-items:center;

        border-radius:10px;

    }

    .imagem-cenario img{

        width:100%;

        height:220px;

        object-fit:cover;

        border-radius:10px;

    }


    .texto-cenario{

        text-align:justify;

    }


    .texto-cenario h2{

        color:#1E3A5F;

    }


    .texto-cenario p{

        color:#444;

        line-height:1.5;

    }

    .footer{
        grid-area:footer;
        background:#1E3A5F;
        color:white;
        display:grid;
        grid-template-columns:repeat(3,1fr);
        gap:20px;
        padding:20px;
        border-radius:10px;
        font-size:13px;
    }


    .footer h3{
        margin-top:0;
        color:#2FB4D4;

    }


    .footer p{
        margin:5px 0;

    }

    .footer i{
        color:#2FB4D4;
        width:20px;
        margin-right:8px;
    }

    .local-footer .fa-instagram{
        color:#E4405F;
    }

    .local-footer .fa-linkedin{
        color:#0A66C2;
    }

    .local-footer .fa-facebook{
        color:#1877F2;
    }

    .logo img{
    width:150px;
    height:auto;
    }

    .informacoes{
    text-align:right;
    font-size:15px;
    color:#444;
    }

    .informacoes p{
    margin:5px 0;
    }

    .informacoes i{
        color:#1E3A5F;
        width:20px;
        margin-right:5px;
    }

    .ia,
    .dev,
    .sdi{
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
        background:black;
        color:white;
        text-decoration:none;
        font-size:22px;
        font-weight:bold;
        border-radius:10px;
        overflow:hidden;
        transition:0.3s;
        outline: none;
    }

    .ia span,
    .dev span,
    .sdi span{
        background:#0e0c0c;
        width:100%;
        box-sizing:border-box;
        padding:10px;
        text-align:center;

    }

    .ia:hover,
    .dev:hover,
    .sdi:hover{
        background:#1E3A5F;
        transform:translateY(-5px);

    }


    .ia img,
    .dev img,
    .sdi img{
         width:100%;
         height:80%;
         object-fit:cover;
         border-radius:5px 5px 0 0;
         display: block;

    }


    /* ===========================
   PÁGINAS INTERNAS
=========================== */


.painel-pagina{


    display:grid;

    gap:15px;

    width:80%;

    height:auto;

    margin:auto;

    padding:30px;
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas:
    "header header header"
    "conteudo conteudo conteudo";

}



/* Área principal da página */

.pagina-conteudo{

    background:white;

    display:grid;

    grid-template-columns:1fr 1.5fr;

    gap:20px;

    padding:20px;

    align-items:center;

    border-radius:10px;

}



.pagina-conteudo img{

    width:100%;

    height:300px;

    object-fit:cover;

    border-radius:10px;

}




.texto-pagina{

    text-align:justify;

}



.texto-pagina h1{

    color:#1E3A5F;

    font-size:35px;

    margin-bottom:15px;

}



.texto-pagina p{

    color:#444;

    line-height:1.5;

    font-size:17px;

}





/* Conteúdo dos artigos */

.artigo{

    background:white;

    padding:20px;

    border-radius:10px;

}



.artigo h2{

    color:#1E3A5F;

    border-left:5px solid #2FB4D4;

    padding-left:10px;

    margin-bottom:15px;

}



.artigo p{

    color:#444;

    line-height:1.5;

    text-align:justify;

    font-size:17px;

}



.artigo ul{

    margin:20px;

    color:#444;

}



.artigo li{

    margin-bottom:10px;

    font-size:17px;

}





/* ===========================
   RESPONSIVIDADE
=========================== */


@media(max-width:768px){


    .painel-principal,
    .painel-pagina{

        width:95%;

        padding:15px;

    }



    .pagina-conteudo{

        grid-template-columns:1fr;

    }



    .footer{

        grid-template-columns:1fr;

    }


}